.popup-content{
    display: flex;
    
    flex-wrap: wrap;
    width: 300px;
    height: 150px;
}

.regex-input{
    flex: 1 1 100%;
    margin-bottom: 10px;
    padding: 6px;
    font-size: 16px;
    border-width: 0px;
    border-color: #CCCCCC;
    background-color: #f3f3f3;
    color: #000000;
    border-style: solid;
    border-radius: 12px;
    box-shadow: 0px 0px 3px rgba(66,66,66,.40);
    text-shadow: 0px 0px 0px rgba(66,66,66,.0);
}
.regex-input:focus {
    outline: none;
}
.match-counter{
    flex: 1 1 50%;
    text-align: center;
    line-height: 100px;
    font-size: 100px;
}
.save-button{
    flex: 1 1 50%;
}